<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="description">
		<link rel="stylesheet" href="../css/vendors/slick.css">
		<link rel="stylesheet" href="../css/app.css">
	</head>
	<body>
		<div class="wrapper">
			<header class="header">
				<div class="container container_lg">
					<div class="header__content">
						<div class="header__left">
							<div class="logo"><a href="./"><span>Vkursi Pro</span></a></div>
						</div>
						<div class="header__right">
							<div class="nav">
								<div class="nav__item"><a href="./">Vkursi</a></div>
								<div class="nav__item"><a href="./">VSUDI</a></div>
								<div class="nav__item nav__item_new"><a href="./">DATA BI</a></div>
							</div>
							<div class="nav">
								<div class="nav__item nav__item_toggle"><span class="link"><span class="icon-phone"></span></span></div>
								<div class="nav__item nav__item_toggle"><span class="link"><span class="icon-user"></span></span></div>
								<div class="nav__item nav__item_toggle"><span class="link"><span>Мій кабінет</span></span></div>
							</div>
						</div>
					</div>
				</div>
			</header>
			<div class="content-wrapper">
				<main>
				</main>
			</div>
			<footer class="footer">
				<div class="container container_lg">
					<div class="footer__content">
						<div class="footer__top">
							<div class="footer__row">
								<div class="footer__left">
									<div class="footer__item">
										<div class="footer__title"><span>Зв’яжіться з нами</span></div><a class="link link_icon" href="./"><span><span class="icon"></span><span>info@vkursi.pro</span></span></a>
									</div>
									<div class="footer__item">
										<div class="footer__title"><span>Зв’яжіться з нами</span></div><a class="link link_icon" href="./"><span><span class="icon"></span><span>info@vkursi.pro</span></span></a>
									</div>
									<div class="footer__item"><a class="btn btn_sm btn_outlined" href="./">Замовити дзвінок</a></div>
								</div>
								<div class="footer__right">
									<div class="footer__nav">
										<div class="footer__nav__list">
											<div class="footer__nav__item">
												<div class="footer__item">
													<div class="footer__title"><span>Наші проекти</span></div>
													<ul class="footer__list">
														<li><a class="link link_underline" href="">VKURSI</a></li>
														<li><a class="link link_underline" href="">VSUDI</a></li>
													</ul>
												</div>
												<div class="footer__item">
													<div class="footer__title"><span> Модулі</span></div>
													<ul class="footer__list">
														<li><a class="link link_underline" href="./">Нерухомість ВІ</a></li>
													</ul>
												</div>
											</div>
											<div class="footer__nav__item">
												<div class="footer__item">
													<div class="footer__title"><span>Користувачам</span></div>
													<ul class="footer__list">
														<li><a class="link link_underline" href="">Можливості</a></li>
														<li><a class="link link_underline" href="">Тарифи</a></li>
														<li><a class="link link_underline" href="">Комерційні пропозиції</a></li>
														<li><a class="link link_underline" href="">Публічний договір</a></li>
														<li><a class="link link_underline" href="">Законодавство</a></li>
														<li><a class="link link_underline" href="">Для ЗМІ та журналістів</a></li>
													</ul>
												</div>
											</div>
										</div>
									</div>
									<div class="footer__access">
										<div class="footer__item">
											<div class="footer__title"><span>Повний доступ до платформи <br> VKURSI  <span class="text text_primary">на 7 днів</span></span></div><a class="btn btn_sm" href="./">Замовити тест</a>
										</div>
									</div>
									<div class="footer__contacts">
										<div class="footer__title"><span>Адреса</span></div><span class="text text_icon"><span class="icon"></span><span>01030, м.Київ, ВУЛИЦЯ БОГДАНА ХМЕЛЬНИЦЬКОГО, будинок 17/52, 4-й поверх «Коворкінг платформа Леонардо»</span></span>
										<div class="footer__map">
											<div class="map" id="googleMap"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="footer__bottom">
							<div class="footer__row">
								<div class="footer__left">
									<div class="footer__copyright"><span>2019 &copy; Vkursi. Всі права захищено</span></div>
									<ul class="footer__links">
										<li><a class="link link_underline" href="">Умови використання</a></li>
										<li><a class="link link_underline" href="">Політика конфіденційності</a></li>
									</ul>
								</div>
								<div class="footer__right">
									<div class="footer__parents">
										<div class="footer__title"><span>Нас підтримують:</span></div>
										<div class="footer__parents__list">
											<div class="footer__parent"><a href="./" target="_blank"><img src="../img/hill.svg" alt="Hill"></a></div>
											<div class="footer__parent"><a href="./" target="_blank"><img src="../img/microsoft.svg" alt="Microsoft"></a></div>
											<div class="footer__parent"><a href="./" target="_blank"><img src="../img/vasilKisil.svg" alt="Vasil Kisil"></a></div>
											<div class="footer__parent"><a href="./" target="_blank"><img src="../img/axon.svg" alt="Axon"></a></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</footer>
		</div>
		<script src="../js/vendors/jquery-3.3.1.min.js"></script>
		<script src="https://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places&amp;language=ru&amp;key=AIzaSyBVb0p7bIMPKHNNXa99r18rLafzMsYVLM0"></script>
		<script src="../js/vendors/slick.js"></script>
		<script src="../js/vendors/jquery.countTo.js"></script>
		<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/gsap-latest-beta.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/animation.gsap.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/debug.addIndicators.min.js"></script>
		<script src="../js/app.js"></script>
		<script src="../js/map.js"></script>
	</body>
</html>