footer.footer
    .container.container_lg
        .footer__content
            .footer__top
                .footer__row
                    .footer__left
                        .footer__item
                            .footer__title
                                span Зв’яжіться з нами
                            a(href="./").link.link_icon
                                span
                                    span.icon
                                    span info@vkursi.pro
                        .footer__item
                            .footer__title
                                span Зв’яжіться з нами
                            a(href="./").link.link_icon
                                span
                                    span.icon
                                    span info@vkursi.pro
                        .footer__item
                            a(href="./").btn.btn_sm.btn_outlined Замовити дзвінок
                    .footer__right
                        .footer__nav
                            .footer__nav__list
                                .footer__nav__item
                                    .footer__item
                                        .footer__title
                                            span Наші проекти
                                        ul.footer__list
                                            li
                                                a(href="" ).link.link_underline VKURSI
                                            li
                                                a(href="" ).link.link_underline VSUDI
                                    .footer__item
                                        .footer__title
                                            span  Модулі
                                        ul.footer__list
                                            li
                                                a(href="./").link.link_underline Нерухомість ВІ
                                .footer__nav__item
                                    .footer__item
                                        .footer__title
                                            span Користувачам
                                        ul.footer__list
                                            li
                                                a(href="" ).link.link_underline Можливості
                                            li
                                                a(href="" ).link.link_underline Тарифи
                                            li
                                                a(href="").link.link_underline Комерційні пропозиції
                                            li
                                                a(href="").link.link_underline Публічний договір
                                            li
                                                a(href="").link.link_underline Законодавство
                                            li
                                                a(href="").link.link_underline Для ЗМІ та журналістів

                        .footer__access
                            .footer__item
                                .footer__title
                                    span Повний доступ до платформи <br> VKURSI  <span class="text text_primary">на 7 днів</span>
                                a(href="./").btn.btn_sm Замовити тест
                        .footer__contacts
                            .footer__title
                                span Адреса
                            span.text.text_icon
                                span.icon
                                span 01030, м.Київ, ВУЛИЦЯ БОГДАНА ХМЕЛЬНИЦЬКОГО, будинок 17/52, 4-й поверх «Коворкінг платформа Леонардо»
                            .footer__map
                                #googleMap.map
            .footer__bottom
                .footer__row
                    .footer__left
                        .footer__copyright
                            span 2019 &copy; Vkursi. Всі права захищено
                        ul.footer__links
                            li
                                a(href="").link.link_underline Умови використання
                            li
                                a(href="").link.link_underline Політика конфіденційності
                    .footer__right
                        .footer__parents
                            .footer__title
                                span Нас підтримують:
                            .footer__parents__list
                                .footer__parent
                                    a(href="./" target="_blank")
                                        img(src="../img/hill.svg" alt="Hill")
                                .footer__parent
                                    a(href="./" target="_blank")
                                        img(src="../img/microsoft.svg" alt="Microsoft")
                                .footer__parent
                                    a(href="./" target="_blank")
                                        img(src="../img/vasilKisil.svg" alt="Vasil Kisil")
                                .footer__parent
                                    a(href="./" target="_blank")
                                        img(src="../img/axon.svg" alt="Axon")