-var friends = ['pumb', 'lifecell', 'hill', 'microsoft', 'watsons','tac', 'ucab', 'pravex', 'vasilKisil_logo', 'axon_logo', 'oneplusone', 'cid', 'smartfarming'];

.friends
	.friends__list
		each friend in friends
			.friends__item
				a(href="./" target="_blank")
					img(src="../img/" + friend  + ".svg" alt= "" + friend)