header.header
	.container.container_lg
		.header__content
			.header__left
				.logo
					a(href="./")
						span Vkursi Pro
			.header__right
				.nav
					.nav__item
						a(href="./") Vkursi
					.nav__item
						a(href="./") VSUDI
					.nav__item.nav__item_new
						a(href="./") DATA BI
				.nav
					.nav__item.nav__item_toggle
						span.link
							span.icon-phone
					.nav__item.nav__item_toggle
						span.link
							span.icon-user
					.nav__item.nav__item_toggle
						span.link
							span Мій кабінет
